  <h3 class="section-headline"><%= @section %></h3>

  <p class="scroll-msg">
    <em>Want to see more than just <%= @section %>?
      Scroll down for feeds from other sections of </em>The Times
  </p>

  <% if current_user %>
    <%= link_to "See your saved articles", user_path(current_user) %>
  <% end %>

  <div class="articles-list">
    <% @articles.each do |article| %>
      <h3><%=  article.title %></h3>
      <em>Published on <%= article.date %></em>.
      <br>
      <%= link_to("Read the article online", article.link) %>
      <br>
      <%= render 'articles/favorites', article: article %>
    <% end %>
  </div>

<br>

<%= render 'articles/sections' %>
