<h3 class="section-headline"><%= @section %></h3>
<% @articles.each do |article| %>
  <h3><%=  article.title %></h3>
  <em>Published on <%= article.date %></em>.
  <br>
  <%= link_to("Read the article online", article.link) %>
  <br>
  <%= render 'articles/favorites', article: article %>
<% end %>

<br>

<%= link_to "NYTimes.com Home Page (International Edition)",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/InternationalHome.xml',
section: "NYTimes.com Home Page (International Edition)") %>

<%= link_to "World News",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/World.xml',
section: "World News") %>

<%= link_to "US News",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/US.xml',
section: "US News") %>

<%= link_to "NY/Region News",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/NYRegion.xml',
section: "NY/Region News") %>

<%= link_to "Business News",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/Business.xml',
section: "Business News") %>

<%= link_to "Technology News",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/Technology.xml',
section: "Technology News") %>

<%= link_to "Sports News",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/Sports.xml',
section: "Sports News") %>

<%= link_to "Science News",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/Science.xml',
section: "Science News") %>


<%= link_to "Health News",
articles_path(url: 'http://rss.nytimes.com/services/xml/rss/nyt/Health.xml',
section: "Health News") %>
