<!DOCTYPE html>
<html>
<head>
  <title>RssGoodDog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="navbar" class="navbar-collapse collapse noah-nav">
    <ul class="nav navbar-nav">
      <%= link_to '<img src="/New-York-Times-Logo.jpg" height="60px">'.html_safe,
                          articles_path %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <% if current_user %>
          <%= current_user.user_name %>
          <%= button_to "Sign Out", session_url, :method => :delete %>
        <% else %>
          <%= link_to "Sign In", new_session_url %> <%= link_to "Sign Up", new_user_url %>
        <% end %>
      </li>
    </ul>
  </div>

  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<%= yield %>

</body>
</html>
